$cream-new: #faf4eb;

$font: #33423f;
$font-l: #40514e;

$cream: #def7f7;
$cream-d: #d4f5f5;

$primary: #e90d4f;
$primary-d: #da0b49;

$secondary: #00b8a9;
$secondary-d: #03b4a5;

$third: #7811cc;
$third-d: #6c19af;

// $cream-new: #faf4eb;

// $font: #3d3235;
// $font-l: #533f44;

// $cream: #def7f7;
// $cream-d: #d4f5f5;

// $primary: #f64168;
// $primary-d: #df2b52;

// $secondary: #11cc8e;
// $secondary-d: #03ac73;

// $third: #7811cc;
// $third-d: #6c19af;
