* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  overflow-x: hidden;
}
main {
  margin-top: 80px;
  position: relative;
}
h1,
h2,
p {
  cursor: default;
}
a {
  cursor: pointer;
}

.breadcrumb {
  font-size: 1.4rem;
  padding: 1rem 9rem;
  color: $font;
  padding-bottom: 1rem;
  & * {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.4rem;
    color: $font;
  }
}
